
<div class="cartCard">
    <h1>Productos agregados al cart de {{user.name}}:</h1>
  
  {{#each cart.products}}
  <div class="productCart"> 
    <div>
       <img src={{this.img}} alt={{this.description}}>
    </div>
  
   
   <div>
     <p>Id: {{this._id}}</p>
   <p>Description: {{this.description}}</p>
   <p>Price:$ {{this.price}}</p>
   <p>Category: {{this.category}}</p>
    <p>Quantity: {{this.quantity}}</p>
   </div>
   
   <div>
 <button>Eliminar del carrito</button>
   </div>
  
  
  </div>
    <hr>
    {{/each}}
</div>


      
