


<nav class="navContainer">
    <ul class="nav-ul">
        <li><a href="/home" class="nav-item">HOME</a></li>
         <li><a href="/products/?category=remeras" class="nav-item">Remeras</a></li>
         <li><a href="/products/?category=pantalones" class="nav-item">Pantalones</a></li>
          <li><a href="/products/?category=abrigos" class="nav-item" >Abrigos</a></li>
          <li><a href="/products/?category=accesorios" class="nav-item" >Accesorios</a></li>
           <li><a href="/cart" class="nav-item" >
           <span class="material-symbols-outlined">
            shopping_cart
            </span>          
           </a></li>
      
    </ul>
</nav>


<div class="productsContainer">
    {{#each products}}
    <div class="productCard">
        <p>Title: {{this.title}} </p>
       
        <p>Description: {{this.description}} </p>
        <p>Price: $ {{this.price}} </p>
    <button class="btnCard"  data-product-id="{{this._id}}" >Add to cart</button>
    </div>
    {{/each}}
</div>


    {{#if hasPrevPage}}
    <div class="btnsContainer"></div>
    <a href="/products/?page={{prevPage}}"><button> < Anterior</button> </a>
    {{/if}}

    <div class="numberPage">
   {{page}}
    </div>
  

    {{#if hasNextPage}}
    <a href="/products/?page={{nextPage}}"><button>Próxima > </button> </a>
    </div>
    {{/if}}

