<a href="/api/carts/addNewCart" class="btn btn-primary" role="button">Nuevo carrito</a>

<div>

    {{#if cartsExists}}
    <h4 class="p-3 fw-bold fontColor">Lista de carritos</h4>
        <div class="container-fluid fontColor">
            <table class="table">
                <thead class="">
                    <tr class="text-center fontColor">
                        <th>ID</th>
                        <th>Productos</th>
                        <th></th>
                    </tr>
                </thead>

                {{#each carts}}  
                    <tr class="text-center align-middle fontColor">
                        <td>
                            {{this.idCart}}
                        </td>
                        <td>
                            {{#each this.products}}
                                {{this.quantity}}x ID: {{this.id}} <br>
                            {{/each}}
                        </td>
                        <td>
                            <div class="col-2">
                                <form class="container" action="/api/carts/delete/{{this.idCart}}" method="post">
                                    <input type="hidden" name="idCart" value={{this.id}}>
                                    <button type="submit" class="btn btn-danger m-2 col">X</button>
                                </form>
                            </div>

                            <div class="col-2">
                                <form class="container" action="/api/carts/{{this.idCart}}" method="get">
                                    <input type="hidden" name="idCart" value={{this.idCart}}>
                                    <button type="submit" class="btn btn-warning m-2 col">Ver</button>
                                </form>
                            </div>
                        </td>
                        
                    </tr>
                {{/each}}
            </table>
        </div>
    {{else}}
        <div class="container-fluid">
            <h4 class="alert alert-danger">No se encontraron carritos</h4>
        </div>
    {{/if}}
</div>