<main>
        <div class="d-flex justify-content-between">
            <h4 class="p-3 fw-bold textColor">Lista de productos</h4>
            {{!-- <div class="dropdown p-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrar por...
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Categoria &raquo</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <a class="dropdown-item" href="/api/products?category=Categoria 1">Categoria 1</a>
                            </li>
                            <li>
                            <a class="dropdown-item" href="/api/products?category=Categoria 2">Categoria 2</a>
                            </li>
                            <li>
                            <a class="dropdown-item" href="/api/products?category=Categoria 3">Categoria 3</a>
                            </li>
                            <li>
                            <a class="dropdown-item" href="/api/products?category=Categoria 4">Categoria 4</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="/api/products?sort=-1">De menor a mayor precio</a></li>
                    <li><a class="dropdown-item" href="#">De mayor a menor precio</a></li>
                </ul>
            </div> --}}
        </div>

        <div class="bigContainer">
            <div class="fiterContainer mb-3">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btnradio1"><a class="dropdown-item" href="/api/products?category=Categoria 1">Categoria 1</a></label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btnradio2"><a class="dropdown-item" href="/api/products?category=Categoria 2">Categoria 2</a></label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btnradio3"><a class="dropdown-item" href="/api/products?category=Categoria 3">Categoria 3</a></label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-warning" for="btnradio3"><a class="dropdown-item" href="/api/products?category=Categoria 4">Categoria 4</a></label>
                </div>

                <div class="btn-group mx-5" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-light" for="btnradio1"><a class="dropdown-item" href="/api/products?sort=1">Menor a mayor precio</a></label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-light" for="btnradio2"><a class="dropdown-item" href="/api/products?sort=-1">Mayor a menor precio</a></label>
                </div>
            </div>
            
        </div>

        {{#if productsExists}}
            <div class="d-flex flex-wrap justify-content-around">
                {{#each prods}}
                <div class="card m-2 cardStyle" style="width: 18rem;">
                    <a href="/api/products/{{this.id}}" class="position-relative"><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill spanCard">{{this.id}}</span><img src="{{this.thumbnail}}" class="card-img-top imgCard" alt="{{this.title}}"></a>
                    <div class="card-body">
                        <div class="container">
                            <div class="d-flex flex-wrap justify-content-between">
                                <div class="col align-self-center">
                                    <h5 class="card-title">{{this.title}}</h5>
                                </div>
                                <div class="col-2">
                                    <form class="container" action="/api/products/delete/{{this.id}}" method="post">
                                        <input type="hidden" name="id" value={{this.id}}>
                                        <button type="submit" class="btn col"><img class="deleteIcon" src="https://cdn.icon-icons.com/icons2/692/PNG/512/seo-social-web-network-internet_262_icon-icons.com_61518.png" alt=""></button>
                                    </form>
                                </div>
                                <div class="col-2">
                                    <form class="container" action="/api/products/update/{{this.id}}" method="get">
                                        <input type="hidden" name="id" value={{this.id}}>
                                        <button type="submit" class="btn col"><img class="deleteIcon" src="https://cdn.icon-icons.com/icons2/3960/PNG/512/refresh_arrows_habit_reload_again_sync_icon_252398.png" alt=""></button>
                                    </form>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <div class="col-6 d-inline">
                                    <button type="button" id="btnRest" name={{this.id}} class="btn col btnRest">-</button>
                                    <input class="productQtyInput" id={{this.id}}>
                                    <button type="button" id="btnSum" name={{this.id}} class="btn col btnSum">+</button>
                                </div>
                                <div class="d-flex d-inline">
                                    
                                    <div class="">
                                        <form class="d-flex d-inline" action="/api/carts/{{this.id}}" method="post">
                                            <div class="">
                                                <label for="">Carrito</label>
                                                <input class="cartInput" type="integer" id={{this.id}} name="cartInput">
                                            </div>
                                            <input type="hidden" id={{this.id}} name="productQtyInput" class="productQtyInput">                                            
                                            <button type="submit" id={{this.id}} class="btn col btnOK">OK</button>
                                        </form>
                                    </div>

                                </div>
                                

                            </div>
                        </div>
                        <span class="badge stockStyle">STOCK: {{this.stock}}</span>
                        <p class="card-text">{{this.description}}</p>
                        <div class="d-flex flex-wrap justify-content-between">
                            <p class="card-text"><b>$ {{this.price}}</b></p>
                            <span class="badge categoryStyle align-self-center">{{this.category}}</span>
                        </div>                       
                        
                    </div>
                </div>
                {{/each}}
            </div>

        {{else}}
            <div class="container-fluid">
                <h4 class="alert alert-danger">No se encontraron productos</h4>
            </div>
        {{/if}}

        <div class="d-flex">
            {{#if hasPrevPage}}
                <a class="p-2" href="?page={{prevPage}}&&limit={{validLimit}}&&sort={{sort}}&&category={{category}}"><button>Anterior</button></a>
            {{/if}}
            <div class="bg-light fw-bold mx-3 p-2">{{validPage}}</div>
            {{#if hasNextPage}}
                <a class="p-2" href="?page={{nextPage}}&&limit={{validLimit}}&&sort={{sort}}&&category={{category}}"><button>Siguiente</button></a>
            {{/if}}
        </div>
    </div>
</main>
